{% extends 'base_login.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <div class="container">
        <div class="container-wrapper">

            <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>Change Password</h3>

            <form method="post" action="/changepw">
                <div class="item"><input class="input" type="text" placeholder="Email id" id="email" name="email"> </div>
                <div class="item"><input class="input" type="password" placeholder="Current Password" name="password"></div>
                <div class="item"><input class="input" type="password" placeholder="New Password" name="newpassword"> </div>
                <div class="item"><input class="input" type="password" placeholder="Confirm Password" name="confirmation"> </div>
                
                <div class="item submit"><button type="submit">Change Password</button></div>
            </form>
               
        </div>

    </div>

{% endblock %}