{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
    <table>
        <caption>Things to be Done</caption>
        <thead>
            <tr>
                <th>Created On</th>
                <th>Title</th>
                <th>Deadline</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.created_on }}</td>
                    <td><a href="/view_task/{{task.id}}">{{ task.title }}</a></td>
                    <td>{{ task.deadline }}</td>
                    <td>{{ task.status }}</td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>
{% endblock %}