{% extends 'base.html' %}

{% block title %}
Create Task
{% endblock %}

{% block main %}

<div class="container">
    <div class="container-wrapper">

        <h3 class="title-text">Your Task</h3>

        <form action="/edit_task/{{task.id}}" method="POST">
            <div class="item"><input class="input" type="text" value="{{ task.title }}" id="Task title" name="Task title"></div>
            <div class="item">
                <textarea class="input" id="Description" name="Description" rows="4" cols="40" maxlength="150">
                    {{ task.description }}
                </textarea>
            </div>
            <div class="item"><input class="input" id="Deadline" name="Deadline" type="date" value="{{ task.deadline }}" ></div>
            <div class="item"><input class="input" value="{{task.status}}" readonly></div>
            <div class="item submit">
                <button type="submit">Update</button> 
                <button type="button" onclick="location.pathname='/delete_task/{{task.id}}'">Delete</button>
                <button type="button" onclick="location.pathname='/markdone/{{task.id}}'">Change Status</button>
            </div>

        </form>
        
    </div>
    
</div>   

{% endblock %}