{% extends 'base.html' %}

{% block title %}
View Task
{% endblock %}

{% block main %}
<div class="container">
    <div class="container-wrapper">

        <h3 class="title-text">Your Task</h3>

        <form action="/view_task/{{task.id}}">
            <div class="item"><input class="input" type="text" value="{{task.title}}" readonly></div>
            <div class="item">
                <textarea class="input" id="Description" name="Description" rows="4" cols="40" maxlength="150" readonly>
                    {{ task.description }}
                </textarea>
            </div>
            <div class="item"><input class="input" value="{{task.deadline}}" readonly></div>
            <div class="item"><input class="input" value="{{task.status}}" readonly></div>
            <div class="item submit">
                <button type="button" onclick="location.pathname='/edit_task/{{task.id}}'">Edit</button>
                <button type="button" onclick="location.pathname='/delete_task/{{task.id}}'">Delete</button>
                <button type="button" onclick="location.pathname='/markdone/{{task.id}}'">Change Status</button>
            </div>

        </form>
        
    </div>
    
</div> 


{% endblock %}